!DOCTYPE html
html lang=en
 
head
    titlePython Flask Bucket List Apptitle
 
 
    link href=httpgetbootstrap.comdistcssbootstrap.min.css rel=stylesheet
 
    link href=httpgetbootstrap.comexamplesjumbotron-narrowjumbotron-narrow.css rel=stylesheet
 
 
head
 
body
 
    div class=container
        div class=header
            nav
                ul class=nav nav-pills pull-right
                    li role=presentation class=activea href=#Homea
                    li
                    li role=presentationa href=#Sign Ina
                    li
                    li role=presentationa href=showSignUpSign Upa
                    li
                ul
            nav
            h3 class=text-mutedPython Flask Apph3
        div
 
        div class=jumbotron
            h1Bucket List Apph1
            p class=leadp
            pa class=btn btn-lg btn-success href=showSignUp role=buttonSign up todaya
            p
        div
 
        div class=row marketing
            div class=col-lg-6
                h4Bucket Listh4
                pDonec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.p
 
                h4Bucket Listh4
                pMorbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.p
 
                h4Bucket Listh4
                pMaecenas sed diam eget risus varius blandit sit amet non magna.p
            div
 
            div class=col-lg-6
                h4Bucket Listh4
                pDonec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.p
 
                h4Bucket Listh4
                pMorbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.p
 
                h4Bucket Listh4
                pMaecenas sed diam eget risus varius blandit sit amet non magna.p
            div
        div
 
        footer class=footer
            p&copy; Company 2015p
        footer
 
    div
body
 
html